:root {
    --color-bg-main: #2d2d39;
    --color-bg-sec: #3e4157;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    color: white;
    margin: 10px;
    padding: 20px;
    background-color: var(--color-bg-main);
    /* min-height: 100vh; */
    height: fit-content;
    line-height: 25px;
}

/* Universal styling */

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.link {
    color: #da0cda;
}

.link:hover {
    color: purple
}

button {
    background-color: #da0cda;
    color: white;
    cursor: pointer;
    /* background-color: transparent; */
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

button:hover {
    background-color: purple;
    opacity: 0.9;
  }

/* Navigation bar */
nav {
    color: white;
}

.nav-container {
    padding: 10px;
    margin: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 28px;
    color: purple;
    
}

li {
    color: white;
}

.user-auth {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
}

/* Landing page styling */
h4 {
    text-align: center;
    font-weight: 400;
}

.about {
    padding: 20px;
    margin: 10px;
}


.hero-section {
    /* background-color: var(--color-bg-sec); */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    padding:30px;
    margin: 0 auto;
}

.hero-section img {
    width: 900px;
    height: 600px;
    border-radius: 5px;
}

.slogan {
    position: relative;
    text-align: center;
    /* bottom: 50%; */
    top: 25%;
    margin: 10px;
}

.slogan h2 {
    font-size: 60px;
    line-height: 60px;
}

.slogan h5 {
    font-size: 16px;
}

.feature-section {
    background-color: var(--color-bg-sec);
    padding: 20px;
    margin: 10px;
}

.about-title{
    margin: 20px;
    text-align: center;
    font-size: 35px;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 5px;
  }
  
  .features .room-chats,
  .features .tasks-card,
  .features .notes-cards {
    text-align: center;
    padding: 20px;
  }
  
  .features img {
    max-width: 100%;
    border-radius: 8px;
    height: 300px;
    width: 400px;
    object-fit: cover;
  }
  
  .features h4 {
    margin-top: 10px;
    font-size: 18px;
  }

  .demo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding:30px;
    margin: 10px;
  }

  .inspo {
    background-color: var(--color-bg-sec);
    padding: 20px;
    margin: 10px;

  }

  .inspo h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
  }

  .inspo p {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

.footer {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    width: 100%;
    padding: 20px;
    margin: 30px;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.email {
    margin-top: 20px;
    text-align: center;
}

.email-info {
    margin-top: 20px;
}

.email .fa {
    margin-right: 10px;
}

.about-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.social {
    padding: 20px 0;
}

.logobox {
    padding: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    margin: 0 10px;
}

.logobox a {
    margin-top: 15px;;
}
.auth {
    margin-top: 15px;
}

.copyright {
    text-align: center;
}